* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
  font-family: 'calibri';
  font-size: 1.6rem;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5vh;
  width: 100%;
  height: 100%;
}

table {
  width: 95%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #b7d1f4;
}

th, td {
  background-color: #f7f7ff;
}

td {
  padding: 5px;
}

.header-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  text-transform: capitalize;
}

.header-cell:hover {
  outline: 2px solid #6da8f5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-cell-icons, .header-cell-name-pin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-cell-icons button, .header-cell-name-pin button {
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-cell-icons button:active, .header-cell-name-pin button:active {
  border: none;
  outline: none;
}

.header-cell-icons button:hover, .header-cell-name-pin button:hover {
  color: #6da8f5;
}

.header-cell-icons button:focus, .header-cell-name-pin button:focus {
  border: none;
  outline: none;
}

.header-cell-name-pin button {
  margin-left: 10px;
}

.hide {
  display: none;
}

#column-position {
  width: 40px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.column-position-container {
  min-height: 60px;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2vh;
  padding: 5px;
  background-color: #f7f7ff;
  border: 2px solid #b7d1f4;
}

.column-position-container button {
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column-position-container button:active {
  border: none;
}

.column-position-container button:hover {
  color: #6da8f5;
}

.column-position-container button:focus {
  border: none;
  outline: none;
}

.column-position-container span {
  font-weight: bold;
  text-transform: capitalize;
}

.pin-button {
  margin-right: 20px;
}

.pinned {
  color: #6da8f5;
}

.navigation-container {
  min-height: 60px;
  margin-bottom: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation-container button {
  font-family: 'calibri';
  font-size: 1.7rem;
  background-color: #f7f7ff;
  border: 2px solid #b7d1f4;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.navigation-container button:hover {
  color: #6da8f5;
  border-color: #6da8f5;
}

.navigation-container button:focus {
  outline: none;
}

.row-inputs-container, .column-inputs-container {
  margin-bottom: 2vh;
}

.row-inputs-container button, .column-inputs-container button {
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row-inputs-container button:active, .column-inputs-container button:active {
  border: none;
}

.row-inputs-container button:hover, .column-inputs-container button:hover {
  color: #6da8f5;
}

.row-inputs-container button:focus, .column-inputs-container button:focus {
  border: none;
  outline: none;
}

.row-inputs-container input, .column-inputs-container input {
  width: 100%;
}

.row-inputs-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-inputs-container {
  width: 20%;
  height: 200px;
}

.column-inputs-container-inside {
  background-color: #f7f7ff;
  border: 2px solid #b7d1f4;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-height: 100%;
  width: auto;
}

.column-inputs-container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

.column-inputs-container-header-input {
  padding: 5px;
}

.column-inputs-container-input {
  padding: 5px;
}
/*# sourceMappingURL=main.css.map */