
$primary-color: rgb(247, 247, 255);
$secondary-color: rgb(183, 209, 244);
$tertiary-color:rgb(109, 168, 245);

@mixin selected {
    outline: 2px solid $tertiary-color;
}
@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    flex-direction: ($direction);
}
@mixin flexSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin buttonNoStyle {
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 100%;
    cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}
body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    font-family: 'calibri';
    font-size: 1.6rem;
}
#root{
    width: 100%;
    height: 100%;
}
.container {
    @include flexCenter(column);
    margin-top: 5vh;
    width: 100%;
    height: 100%;
}
table{
    width: 95%;
    box-sizing: border-box;
    background-color: $secondary-color;
}
th, td {
    
    background-color: $primary-color;
}
td {
    padding:5px;
}
.header-cell {
    @include flexSpaceBetween();
    padding: 5px;
    text-transform: capitalize;
    &:hover {
        @include selected();
        box-sizing: border-box;
    }
    &-icons,  &-name-pin{
        @include flexCenter(row);
        button {
            @include buttonNoStyle();
            @include flexCenter(row);
            &:active {
                border: none;
                outline: none;
            }
            &:hover {
                color: $tertiary-color;
            }
            &:focus {
                border: none;
                outline: none;
            }
        }
    }
    &-name-pin {
        button {
            margin-left: 10px;
        }
    }
}
.hide{
    display:none;
}
#column-position {
    width: 40px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.column-position-container {
    
    min-height: 60px;
    background-color: red;
    @include flexCenter(row);
    margin-bottom: 2vh;
    padding: 5px;
    background-color: $primary-color;
    border: 2px solid $secondary-color;
    button {
        @include buttonNoStyle();
        @include flexCenter(row);
        &:active {
            border: none;
        }
        &:hover {
            color: $tertiary-color;
        }
        &:focus {
            border: none;
            outline: none;
        }
    }
    span {
        font-weight: bold;
        text-transform: capitalize;
    }
}
.pin-button {
    margin-right: 20px;
}
.pinned {
    color: $tertiary-color;
}
.navigation-container {
    min-height: 60px;
    margin-bottom: 2vh;
    @include flexCenter(row);
    button {
        font-family: 'calibri';
        font-size: 1.7rem;
        background-color: $primary-color;
        border: 2px solid $secondary-color;
        padding: 10px;
        margin: 5px;
        cursor: pointer;
        &:hover {
            color: $tertiary-color;
            border-color: $tertiary-color;
        }
        &:focus {
            outline: none;
        }
    }
}